/* Estilo global para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para o cabeçalho da página */
header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

/* Estilo para a barra de navegação */
nav {
    background-color: #000000;
    display: flex;  /* Define o modelo de layout como flexível */
    justify-content: space-around;  /* Distribui os itens igualmente ao redor do eixo horizontal */
    padding: 10px;
}

/* Estilo para os links na barra de navegação */
nav a {
    color: white;
    text-decoration: none;  /* Remove a decoração padrão dos links (sublinhado) */
    padding: 10px;
}

/* Estilo para as seções da página */
section {
    display: none;  /* Inicialmente, as seções estão ocultas */
    padding: 20px;
}
